/*efectos del formulario*/
.cajas{
    max-width: 90%;
    margin: auto;

}

.registro{
    
    max-width: 400px;
    margin: auto;
    margin-top: 15px;
    background-color: rgb(224, 255, 225);
    padding: 10px 30px;

}
.caracteristicas {
   
    margin-bottom: 20px;
    color: darkorange ;
}

.caracteristicas label{
    display: block;
    margin-top: 10px;
}
.caracteristicas input{
    width: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}
.caracteristicas input:focus{
    background: orange;
}
.boton input{
    background: orange;
    color: white;
    border: none;
    display: block;
    font-size: 25px;
    margin: auto;
    margin-top: 30px;
    padding: 10px 40px;
}
.boton input:hover{
    background: black;
}
.error{
    color: red;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    
}
.final{
    text-align: center;
}
.cuadrito{
    margin-left: 15px;
  position: relative;
  font-size: 13px;
}
.cuadrito label::before{
    content: "";
  width: 8px;
  height: 8px;
  border: 1px solid black;
  position: absolute;
  left: -14px;
}
[type="checkbox"] {
    display: none;
  }
  
[type="checkbox"]:checked + label::before {
    background: black;
    transition: 0.5s;
    
}
  



/*efectos de diseño generales*/
body{
 height: auto;
 background-image: url("fondo.jpg" );
 background-size: 85rem
 
}
*{
    box-sizing: border-box;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: darkorange;
}



    
